################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Thermometer/v15
/Application Files/Thermometer_1_0_0_0
/packages
/Thermometer/bin/Debug
